<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source
        src="../assets/Videos/"
        type="video/mp4"
      />
    </video>
    <!-- Navbar-->
    <nav class="navbar">
      <div class="container-fluid justify-content-between">
        <!-- Left elements -->
        <div class="d-flex">
          <!-- Brand -->
          <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
            <img
              class="logo"
              src="../assets/images/nelf_logo.png"
              height="20"
              alt="NELF Logo"
              loading="lazy"
              style="margin-top: 2px"
            />
          </a>
          <!-- <app-search-bar></app-search-bar> -->
          <!-- Search form -->
        </div>
        <!-- Left elements -->
        <!-- Right elements -->

        <ul class="navbar-nav flex-row">
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" href="#">
              <button class="signin">Connexion</button>
              <button class="signup">Inscription</button>
            </a>
          </li>
        </ul>
        <!-- Right elements -->
      </div>
    </nav>
    <!-- Navbar -->
    <div class="main">
      <div class="salons-container">
        <div class="salons">
          <ul>
            <h4>Salons gold</h4>
            <li>
              <div class="salon">
                <img
                  src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/e/0/8/e086e3cef6_50184903_bored-ape.jpg"
                />
                <div>
                  <p class="salon-name">Salon 1 test</p>
                  <p class="salon-time">23:34:32 restants</p>
                </div>
              </div>
              <div class="salon">
                <img
                  src="https://static01.nyt.com/images/2021/03/12/arts/11nft-auction-cryptopunks-print/11nft-auction-cryptopunks-print-articleLarge.jpg?quality=75&auto=webp&disable=upscale"
                />
                <div>
                  <p class="salon-name">Salon 2 test</p>
                  <p class="salon-time">23:34:32 restants</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="salons">
          <ul>
            <h4>Salons populaires</h4>
            <li>
              <div class="salon">
                <img
                  src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/e/0/8/e086e3cef6_50184903_bored-ape.jpg"
                />
                <div>
                  <p class="salon-name">Salon 1 test</p>
                  <p class="salon-time">23:34:32 restants</p>
                </div>
              </div>
              <div class="salon">
                <img
                  src="https://static01.nyt.com/images/2021/03/12/arts/11nft-auction-cryptopunks-print/11nft-auction-cryptopunks-print-articleLarge.jpg?quality=75&auto=webp&disable=upscale"
                />
                <div>
                  <p class="salon-name">Salon 2 test</p>
                  <p class="salon-time">23:34:32 restants</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="evenementSpecialeDiv">
          <div class="specialevent">
            <h1>
              BIENVENUE SUR <br />
              NELF
            </h1>
            <button type="button" class="eventbutton btn btn-warning" (click)="onTestHttp()">
              Visiter les salons <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
        <div class="nfts">
          <div class="nfts-title">
            <h4>Boutons cours :</h4>
            <!-- <i class="fire-icon fa fa-fire"></i> -->
          </div>
          <div class="nft-list">
            <a href="#" class="nft">
              <div class="">
                <img
                  src="https://i.guim.co.uk/img/media/ef8492feb3715ed4de705727d9f513c168a8b196/37_0_1125_675/master/1125.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d456a2af571d980d8b2985472c262b31"
                />
                <p>NFT title</p>
                <p>NFT owner</p>
              </div>
            </a>
            <a href="#" class="nft">
              <div class="">
                <img
                  src="https://i.guim.co.uk/img/media/ef8492feb3715ed4de705727d9f513c168a8b196/37_0_1125_675/master/1125.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d456a2af571d980d8b2985472c262b31"
                />
                <p>NFT title</p>
                <p>NFT owner</p>
              </div>
            </a>
            <a href="#" class="nft">
              <div class="">
                <img
                  src="https://i.guim.co.uk/img/media/ef8492feb3715ed4de705727d9f513c168a8b196/37_0_1125_675/master/1125.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d456a2af571d980d8b2985472c262b31"
                />
                <p>NFT title</p>
                <p>NFT owner</p>
              </div>
            </a>
            <a href="#" class="nft">
              <div class="">
                <img
                  src="https://i.guim.co.uk/img/media/ef8492feb3715ed4de705727d9f513c168a8b196/37_0_1125_675/master/1125.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d456a2af571d980d8b2985472c262b31"
                />
                <p>NFT title</p>
                <p>NFT owner</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
